<div class='col-sm-4 col-md-4'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3>	
                MENU
            </h3>
        </div>
        <div class='panel-body'>
            <div class='list-group'>
                <a href='/' class='list-group-item'>HOME</a>
                <a href='/charts' class='list-group-item'>環境監測</a>
                <a href='/control' class='list-group-item'>遠端控制</a>
                <a href='/imgUpload' class='list-group-item'>上傳圖片</a>
                <a href='/imgShow' class='list-group-item'>顯示圖片</a>
                <a href='/result' class='list-group-item'>健康狀況</a>
                <a href='/test' class='list-group-item'>測試</a>
                <a href='/example' class='list-group-item'>範例</a>
            </div>                
        </div>
    </div>
</div>